h1 {
    color: rgb(128, 49, 0);
    font-size: 50px;
    padding: 20px;
    margin: 40px;
    width: 2000px;
    height: 400px;
}

p{
    color: orangered;
}
#pirmais-paragrafs{
    font-size: 30px;
    color: rgb(94, 205, 63);
    margin-top: 0px;
}
#pirmais-paragrafs:hover{
    font-size:50px;  
}
    


#header{
    width: 100%;
    height: 150px;
    background-color: orange;
}

#sidebar{
    width: 30%;
    height: 600px;
    background-color: rgb(27, 201, 169);
    float: left;
}

#content{
    width: 70%;
    height: 600px;
    background-color: rgb(230, 224, 176);
    margin-left: 30%;
}

#footer{
    width: 100%;
    height: 100px;
    background-color: saddlebrown;
}
h1{
    margin-top: 0px;
}
img{
    width: 350px;
}

li:hover{
    text-decoration:underline;
}
.Latvija{
    width: 500px;
}
.attls1{
    width: 50px;
    position:absolute;
    top: 470px;
    left: 420px;
    transition:opacity 2s, scale 2s, transform 2s ;
}
.attls2{
    width: 50px;
   position:absolute;
    top: 575px;
    left: 595px;
    transition: top 2s;
}
.attls1:hover{
    opacity:0.4;
   scale: 6;   
    transform: rotate(890deg);
}
.attls2:hover{
    top: 150px;
}
.Latvija{
    position:relative;
}
.spriditis{
    position:absolute;
    width: 60px;
    top: 360px;
    left: 670px;
    animation-name: go;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


@media screen and (max-width:600px) {
  body  {
      background-color: olive;
  }
  #sidebar{
      display: none;
  }
  #content{
      margin-left: 0%;
      width: 100%;
  }
}